@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <title>HATA SAYFASI</title>
    <meta name="keywords" content="C# PROGRAMLAMA DİLİ İLE ENTİTİY FRAMEWORK YAKLAŞIMI İLE SQL SERVER VERİTABANI VE DEVEXPRESS KULLANARAK GELİŞTİRİLEN İŞ TAKİP PROJESİ" />
    <link href="~/Thema/web1/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <style>
        ::selection {
            background: orangered;
            color: #FFF;
        }
    </style>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
</head>
<body>
<div class="wrap">
    <div class="header">
        <div class="logo">
            <h1><a href="#">HATA SAYFASI</a></h1>
        </div>
    </div>
    <div class="content">
        <img src="~/Thema/web1/images/error-img.png" title="error" />
        <p><span><label>O</label>hh.....</span>ARADIĞINIZ SAYFAYI BULAMADIK !!</p>
        <a href="~/Login/Log">GİRİŞ SAYFASINA DÖN</a>
        <div class="copy-right">
            <p>&copy; @DateTime.Now.Year TÜM HAKLARI SAKLIDIR | Design by <a target="_blank" href="https://github.com/dogukankosan">DOĞUKAN KOŞAN</a></p>
        </div>
    </div>
</div>
</body>
</html>