@model MVCFirmaCagri.Models.Entitiy.Company
<div class="modal" id="modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <a style="margin-left: 452px" href="~/Login/Log/" class="text-danger">X</a>
                    <h2 class="m-0 text-danger">GİRİŞ ŞİFREMİ UNUTTUM</h2><hr />
                    <div class="modal-body">
                        @using (Html.BeginForm("RememberMail", "Login", FormMethod.Post))
                        {
                            <label>MAİL ADRESİNİZ:</label>
                            <br />
                            @Html.TextBoxFor(x => x.CompanyMail, new { @class = "text", @type="email",@required = "", @MaxLength = 70, placeholder = "Mailinizi Yazınız" })
                            @Html.ValidationMessageFor(x => x.CompanyMail, "", new { @class = "text-danger" })
                            <br /> <br /> <br />
                            <button type="submit" class="btn btn-outline-success">MAİL GÖNDER</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>